<%= form_for @category do |f| %>
  
  <div class="field">
    <p>
      <%= f.label :description %><br/>
      <%= f.text_field :description %>
    </p>
  </div>
  <div class="actions"><%= f.submit :class => "button" %></div>
<% end %>

